In [ ]:
## Basic Syntax rules in python
## Case sensitivity - python is case sensitive

In [ ]:
name="Danush"
Name="Rajaram"
print(name)
print(Name)

In [ ]:
## Indentation
## Python uses indentation to define blocks of code. consistent use of spaces (commonly 4) or tab is required.

In [ ]:
age=32
if age>30:
  print(age)
print(age)

In [ ]:
## This is a single line comment
print("Hello World")

In [ ]:
## Line continuation
##Use a backlash (\) to continue a statement to the next line

total = 1+2+3+4+5+6+7+8+\
4+5+6

print(total)

In [ ]:
## Multiple statements on a single line
x=5;y=10;z=x+y
print(z)

In [ ]:
## Understand Semantics in python
# variable assignment

age=32 ##age is an integer
name="Krish" ##name is a string
print(age,name)

In [ ]:
type(age)
type(name)

In [ ]:
# Type Inference
variable = 10
print(type(variable))
variable="Danush"
print(type(variable))

In [ ]:
## Code examples of indentation
if True:
  print("Correct Indentation")
  if False:
    print("This is Printed")
  print("This will print")
print("outside the if block")