In [ ]:
'''Variables

- Introduction to variables
- Declaring & Assignment variables
- Naming conventions
- Understanding variables types
- Type checking & conversion
- Dynamic Typing
- practical Examples & common errors

'''

In [ ]:
a=100

In [ ]:
## Declaring & Assigning variables

age =32
height=6.1
name="Danush"
is_student=True

In [ ]:
## printing the variables
print("Age :" ,age)
print("Height:" ,height)
print("Name: ", name)
print("is_student: ", is_student)

In [ ]:
## Naming conventions
## Variable name should be descriptive
## They must start with letter or an '_' and contains letter, numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Danush"
last_name="Rajaram"
print(first_name,last_name)

In [ ]:
# Invalid variable names
# 2 Age = 30
# First-name="Danush"
##@name="Danush"

In [ ]:
## case sensitivity

name="Danush"
Name="Rajaram"
name==Name

In [ ]:
## case sensitivity

name="Danush"
Name="Danush"
name==Name

In [ ]:
## understanding variable types
## python is dynamically typed of a variable is determidn at runtime
age=25
height=6.1 #float
name="Danush" #str
is_student=True #bool


print(type(age))

In [ ]:
## Type Checking and conversion
type(height)

In [ ]:
age=25
print(type(age))

In [ ]:
#type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

In [ ]:
age='25'
print(type(int(age)))

In [ ]:
name="Danush"
int(name)

In [ ]:
height=5.11
type(height)

In [ ]:
int(height)

In [ ]:
float(int(height))

In [ ]:
## Dynamic Typing
## Python allows the type of a variable to change as program executes
var=10
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

In [ ]:
##  input

age=(input("what is the age "))
print(age,type(age))

In [ ]:
##  input

age=int(input("what is the age "))
print(age,type(age))

In [ ]:
# Simple calculator
num1 = float(input("Enter first number: "))  # First number
num2 = float(input("Enter second number: "))  # Second number (Fixed)

sum_result = num1 + num2
difference = num1 - num2
multiply = num1 * num2
quotient = num1 / num2 if num2 != 0 else "Undefined (division by zero)"  # Handling division by zero

# Display results
print("Sum:", sum_result, "Difference:", difference, "Multiply:", multiply, "Quotient:", quotient)