In [ ]:
'''

Data types

- Introduction
- Importance of Data types in programming

Basic data types
- Integers
- Floating - point numbers
- strings
- booleans

Advanced Data types
- Lists
- Tuples
- sets
- dictionaries

type conversion

practical examples

In [ ]:
## Integer example
age=35
type(age)

In [ ]:
## floating point datatype
height=5.11
print(height)
print(type(height))

In [ ]:
#string data type example
name="Danush"
print(name)
print(type(name))

In [ ]:
#boolen example
type(True)
is_true=True
type(is_true)

In [ ]:
a=100
b=10
type(a==b)

In [ ]:
result="Hello"+5

In [ ]:
result="Hello"+"5"
print(result)

In [ ]:
result="Hello AI"+str(4)
result