In [ ]:
'''
1. Introduction to Python
2. Arithmetic Operators
   additon, subtraction, multiplication
   Division, Floor Division
   Modulus exponential
3. Comparison Operators
   =
   <
   >
   <=
   >=
   !=
   ==
4 logical operators - and or not
5. practical examples

In [ ]:
## Arithmetic Operations

a=10
b=14
c=a+b
print(c)

In [ ]:
a=5
b=2

add = a+b
sub = a-b
mul = a*b
div = a/b
floor_div_result=a//b
mod=a%b
exp =a**b
print(add,sub,mul,div,floor_div_result,mod,exp)

In [ ]:
#comparison operators

a=10
b=10
print(a==b)
print(a>b)

In [ ]:
str2="Danush"
str1="Danush"
str1==str2

In [ ]:
str2="Danush"
str1="danush"
str1==str2

In [ ]:
 aa="danush"
 bb="danush"
 aa==bb

In [ ]:
#  >
n1=45
n2=33
n1>n2

In [ ]:
#  <
print(n1<n2)

In [ ]:
#  greater than or equal to
number1 =45
number2=45
print(number1>=number2)

In [ ]:
### Logical operator

# AND NOT OR

X=True
Y=False
result_add=X and Y
result_or=X or Y
print(result_add)
print(result_or)

In [ ]:
#NOT
x=False
c=not x
c